auto-install-peers = false
node-linker = hoisted
shamefully-hoist = true
dedupe-direct-deps = true
enable-pre-post-scripts=true
link-workspace-packages=true
# Prevent pnpm from adding the "workspace:"" prefix to local
# packages as it casues issues with manypkg
# @link https://pnpm.io/npmrc#prefer-workspace-packages
save-workspace-protocol=false
prefer-workspace-packages=true
# @link https://pnpm.io/npmrc#shared-workspace-lockfile
shared-workspace-lockfile=true 
