@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}
@layer utilities {
  .dimmed-0 {
    color: hsl(0, 0%, 48%);
  }

  .dimmed-1 {
    color: hsl(0, 0%, 65%);
  }

  .dimmed-3 {
    color: hsl(0, 0%, 75%);
  }

  .dimmed-4 {
    color: hsl(0, 0%, 90%);
  }

  .dimmed-5 {
    color: hsl(0, 0%, 95%);
  }

  .average-transition {
    transition: ease-in-out 0.15s;
  }

  .bg-gradient::after {
    content: '';
    position: fixed;
    left: -1px;
    top: -1px;
    z-index: -1;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    opacity: 0;
    transition: opacity 0.5s;
  }

  .bg-gradient::after {
    /*If i change my mind abouut the theme I'll use this for inidividual components*/
    background-image: linear-gradient(
      84.16deg,
      rgba(150, 46, 200, 0.15),
      rgba(255, 215, 111, 0.042),
      rgba(30, 17, 224, 0.1)
    );
  }

  .bg-gradient:hover::after {
    opacity: 1;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html,
  body {
    scroll-behavior: smooth;
    background: linear-gradient(
      84.16deg,
      rgba(150, 46, 200, 0.15),
      rgba(255, 215, 111, 0.042),
      rgba(30, 17, 224, 0.1)
    );
  }

  body {
    @apply bg-background text-foreground text-xl;
  }
}
